.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.w-100 {
  width: 100%;
}

.layout-row {
  min-height: 100vh;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.bg-dark .el-input .el-input__wrapper, .bg-dark .el-textarea__inner{
  background-color: transparent !important;
  border-color: rgba(135, 150, 165, 0.15) !important;
}
.bg-dark .el-input .el-input__inner, .bg-dark .el-textarea__inner {
  color: #fff !important;
}

.bg-dark .el-dialog {
  background: #1c233f !important;
}

.bg-dark .el-dialog .el-form-item__label, .bg-dark .el-dialog .el-dialog__title {
  color: #b9c0d3 !important;
}

.bg-dark .el-form-item__label {
  color: unset !important;
}
.bg-dark .el-collapse, .bg-dark .el-collapse-item__header, .bg-dark .el-collapse-item__content{
  background: #1e2645;
  color: unset !important;
  border: unset;
  border-radius: unset !important;
  padding: 0 10px;
}

.bg-dark .el-collapse-item__content {
  padding: 25px 10px;
}
.bg-dark .el-collapse-item__wrap {
  border-bottom: unset;
}

.multi-selected-option {
  position: fixed;
  bottom: 5em;
  right: 1em;
}

.el-button {
  padding: 0 !important;
  box-sizing: border-box !important;
}

.el-button  span {
  position: relative !important;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  padding: 8px 15px !important;
}

.el-button.el-dropdown__caret-button {
  padding: 8px 15px !important;
}
.el-dropdown__caret-button span {
  position: unset !important;
  display: unset !important;
  padding: unset !important;
  width: auto !important;
}

.el-button.el-button--small span{
  padding: 5px 11px !important;
}

.el-button.el-button--small.el-dropdown__caret-button {
  padding: unset !important;
}
