.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.w-100 {
  width: 100%;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.bg-dark .el-input .el-input__wrapper, .bg-dark .el-textarea__inner{
  background-color: transparent !important;
  border-color: rgba(135, 150, 165, 0.15) !important;
}
.bg-dark .el-input .el-input__inner, .bg-dark .el-textarea__inner {
  color: #fff !important;
}

.bg-dark .el-form-item__label {
  color: unset !important;
}
.bg-dark .el-collapse, .bg-dark .el-collapse-item__header, .bg-dark .el-collapse-item__content{
  background: #1e2645;
  color: unset !important;
  border: unset;
  border-radius: unset !important;
  padding: 0 10px;
}

.bg-dark .el-collapse-item__content {
  padding: 25px 10px;
}
.bg-dark .el-collapse-item__wrap {
  border-bottom: unset;
}
